@import '../../../styles/mixins';

.button {
  @include flex-normal;

  width: 150px;
  height: 150px;
  padding: 8px;

  font-size: 16px;
  text-align: center;

  border-radius: 50%;

  /* stylelint-disable-next-line */
  @include mq(sm) {
    width: 120px;
    height: 120px;
    font-size: 15px;
  }
}

.primary {
  background-color: var(--color-yellow-400);
}

.secondary {
  border: 1px solid var(--color-yellow-400);
}
