@import '../../../styles/mixins';

.item {
  padding-bottom: 21px;
  border-bottom: 1px solid var(--color-black);
}

.trigger {
  position: relative;
  width: 100%;
  padding-right: 30px;
  text-align: left;

  &::before {
    @include bg;

    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 22px;
    height: 22px;

    background-image: url('../../../assets/icons/arrow.svg');

    transition: transform 0.3s;
  }

  &[data-state='closed'] {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.content {
  padding-top: 20px;

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
